
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #243E63;
    scroll-behavior: smooth;
}



body{
    max-width:100vw;
    overflow-x: hidden;
}
  

.btn, button{
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
p{
    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
}
.purple{
    color:#6415ff;
}
a{
    text-decoration: none;
 
}

link:hover{
    text-decoration: underline;
}



.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:32px 0 0 0;
    width:100%;
    max-width: 1200px;
    margin:0 auto;
    color: #243e63;  
}
.nav__logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav__logo--img{
    width:40px;
    height:40px;
    margin-left: 16px;


}


.nav__title{
    font-size: 32px;
    font-weight: 900;
    color: #243e63;
    display: flex;
}

.nav__links{
    display: flex;
    list-style: none;   
    gap: 40px;
    margin-left: 24px;
}
.nav__link:hover{
    text-decoration: underline;
}
.nav__link--primary{
    background-color: #6415ff;
    color:#fff;
    padding:8px 24px;
    border-radius: 50px;
    font-weight: 700;

}

.nav__link--primary:hover{
    background-color: rgba(60, 13, 153);
    text-decoration: none;

}   
.button__menu--svg{
    width:40px;
    height:40px;
}

.button__menu--icon{
    width:28px;
    height:28px;
}


.btn__menu{
    background-color: transparent;
    font-size: 24px;
    border:none;
    color:#243e63;
    transition: all 300ms ease;
    display:none;
}
.btn__menu:hover{
    color:#6415ff;
}
.btn__menu:hover .button__menu--icon{
    color:#6415ff;
}


.menu__backdrop{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity:0;
    visibility:hidden;
    pointer-events: none;
    background-color: rgba(255,255,255,0.97);
}
.menu--open .menu__backdrop{
    visibility:visible;
    opacity:1;
    pointer-events: auto;
}
.menu--open{
    max-height:100vh;
    overflow-y:hidden;
}
.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

    

.menu__list{
    padding:24px;
}

.menu__link{
    font-size: 24px; 
}
.menu__link:hover{
    text-decoration: underline;
}

.menu__link--primary{
    background-color: #6415ff;
    color:#fff;
    padding:12px 32px;
    border-radius: 500px;
    font-weight: 700;
}   

.menu__link--primary:hover{
    background-color: rgba(60, 13, 153);
    text-decoration: none;
}   

.btn__menu--close{
    position:absolute;
    right: 20px;
    top:10px;
    padding:8px;
   
}



 /*header*/



.container{
    padding: 96px 32px 96px 32px;

}
.row{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    color: #243e63;


}
header .row{
    display: flex;
    justify-content: space-between;
}


.header__description{
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    max-width: 560px;  

}


h1{
        color: #1a202c;
        line-height: 1.25;
}
.header__description--para{
    text-align:center;
    margin:16px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header__email {
    width: 100%;
    max-width: 360px;
    max-height: 64px;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 20px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
    position:relative;
    overflow:hidden;
    align-items: center;
    margin:16px;
}


.email__input{
    border:none;
    margin-bottom:24px;
    
    
}
.email__btn:hover {
 background-color: rgba(60, 13, 153);
}


.email__btn{
    z-index: 2;
    margin: -55px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 105px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    position:absolute;
    margin-left: 120px;
    transition: all 300ms ease;
}

button {
    cursor: pointer;
    border: none;
   
}
.customer__logo{
    max-width: 90%;
    height: auto;
}

.header__customer--title{
    text-align: center;
    font-size: 16px;
    margin:16px
}

.header__img{
  width:100%;
  max-width:760px;
  height: 368px;;
  margin:0 auto;
  display: block;
  z-index: 1;
  padding:8px;

}


/*
features*/


.features{
    width:100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
}

.row__narrow{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}

.row__narrow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__tag{
    font-size: 16px;
    color:#6415ff;
    letter-spacing: 1.6px;
    font-weight:700;
    text-transform:uppercase;
}
.section__title{
    font-weight:900;
    font-size:48px;
    color: rgb(36, 62, 99);
    line-height:1.5;
    margin:16px;
    letter-spacing: 0.025em;
}
.section__para{
    max-width: 550px;
    text-align: center;
}


/*services*/

.feature__row{
    padding:32px 8px;
    display: flex;
    align-items:flex-start;
    width:calc(100% / 3)
 
}

.feature__img--wrapper{
    display: flex;
    padding:20px;
    border: 1px solid #e5e7eb;
    border-radius:500px;
}
.feature__img{
    width:24px;
    height:24px;
    margin-bottom: 96px;
}
.feature__text{
    margin-top: 8px;
    margin-left: 16px;
}
.feature__title{
    line-height:1;
}

.feature__para{
    max-width:none;
    margin-top: 16px;
    font-size: 16px;
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/*
section Quality
*/

#quality .container{
    padding: 96px 32px;
    background-color: #f5f5f5;
}


#quality .row{
    display: flex;
    justify-content:space-between; 
    align-items: center;
}

#quality .row{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    color: #f5f5f5;;
  

}
.quality__description{
    margin-right: 0;
    padding-right: 48px;
  
    
}
.quality__img--wrapper{
    border-radius: 4px;
    border:1px solid rgb (229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    width:50%;
    max-width:560px;

}
.section__tag{
    font-weight:700;
    text-transform:uppercase;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
}
#quality
.section__title, #values  .section__title{
    line-height: 1.25;
    font-size: 36px;
    font-weight:900;
    color: rgb(36, 62, 99);
    margin:16px 0;
    letter-spacing: .025em;
}

.section__para{
    font-size:16px;
    font-weight:500;
    color: #7c8ba1;
    line-height:1.625;
    margin:0;

}

#quality  .email__btn{
     margin-top: 16px;
}
#quality .btn{
    margin-top: 32px;
} 

.btn{
    line-height: 1.5;
    background-color: #6415ff;
    cursor:pointer;
    border:none;
    padding:12px 32px;
    border-radius: 500px;
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    transition: all 300ms ease;

}
.quality__img{
    z-index:1;
    width:100%;
    height:50vh;
    width:40vw;
  
}


.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb (229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    max-width: 560px;
}



.steps__container{
    padding: 96px 32px;
    background-color: #f5f5f5;
}
#steps .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    width:100%;
    max-width: 1200px;
    margin:0 auto;

}
.steps__description, .steps__img--wrapper{
    width:50%;

}
.steps__img--wrapper{
    display: flex;
    position:relative;
}
.steps__img{
    z-index:2;
}
img{width:100%;}

.steps__grid{
    height:5rem;
    width:5rem;
    bottom:-50px;
}
.steps__grid{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    opacity:0.8;
    color:rgb(100, 21, 255);
    fill:currentColor;
}
.steps__description{
    padding-left: 16px;
    width:50%;

}
.section__tag{
    
    text-transform: uppercase;
    font-size:16px;
    color:#6415ff;
    letter-spacing: 1.6px;
}
.section__title{
    font-size:36px;
    font-weight:900;
    color:rgb(36, 62, 99);
    line-height: 1.5;
    margin:16px;
}
.step{
    display: flex;
    align-items:flex-start;
    margin-top:32px;
}
.step-number{
    color:#cbd5e0;
    font-size:36;
    font-weight:600;
    line-height:1;
}
.steps__description{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}
.step__title{
    font-weight: 600;
    font-size: 20ps;
    color: #243e63;
    line-height:1;
}
.step__para{
    font-size: 16px;
    color:#718096;
    margin-top:12px;
    font-weight: 500;
    line-height:2;
}





/* small phones, Tablets, Large Smart Phones */
@media(max-width:768px){

    .header__description{
        padding: 0 8px;
    }
    h1{
        font-size:24px;
    }
    button{
        font-size: 16px;
    }

    .btn__menu{
        display:block;
    }
    .nav__links{
        display:none;
    }


}
/*small phones, large smart phones */

@media(max-width:550px){

    .header__img{
        max-width:100%;
        height:auto;
        margin-top: 32px;
    }
    .header__description,.header__img--wrapper{
     width:100%;
     max-width:512px;
     margin:0 auto;
    }
}




