
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');






* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border:border-box;
    background-color: #f5f5f5;
    color: #333;
}
.row{
    padding:24px;
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}

.nav__row{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--img{
    height:40px;
    width: 40px;
}

.nav__links{
    padding:0 48px;
    
}
.nav__link{
    text-decoration: none;
}
.nav__link:hover{
    text-decoration: underline;
}
.nav__link--primary{
    border:solid 2px;
    border-radius: 6px;
    padding:4px;
    background-color:#6415ff;
}
.nav__link--primary:hover{
    text-decoration: none;
}
    
    
