
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:solid purple 4px;
    
}
.row{
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border: solid orange 3px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav__links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.nav__logo--img{
    width:40px;
    height:40px;
}
.nav__links{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 16px;
    transition: color 300ms ease;
}
.btn{
    padding: 12px 24px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: color 300ms ease;
}