
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #243E63;
    scroll-behavior: smooth;
}



body{
    max-width:100vw;
    overflow-x: hidden;
}
  

.btn, button{
    cursor: pointer;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
p{
    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
}
.purple{
    color:#6415ff;
}
a{
    text-decoration: none;
 
}

link:hover{
    text-decoration: underline;
}



.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:32px 0 0 0;
    width:100%;
    max-width: 1200px;
    margin:0 auto;
    color: #243e63;  
}
.nav__logo{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav__logo--img{
    width:40px;
    height:40px;
    margin-left: 16px;


}


.nav__title{
    font-size: 32px;
    font-weight: 900;
    color: #243e63;
    display: flex;
}

.nav__links{
    display: flex;
    list-style: none;   
    gap: 40px;
    margin-left: 24px;
}
.nav__link:hover{
    text-decoration: underline;
}
.nav__link--primary{
    background-color: #6415ff;
    color:#fff;
    padding:8px 24px;
    border-radius: 50px;
    font-weight: 700;

}

.nav__link--primary:hover{
    background-color: rgba(60, 13, 153);
    text-decoration: none;

}   
.button__menu--svg{
    width:40px;
    height:40px;
}

.button__menu--icon{
    width:28px;
    height:28px;
}


.btn__menu{
    background-color: transparent;
    font-size: 24px;
    border:none;
    color:#243e63;
    transition: all 300ms ease;
    display:none;
}
.btn__menu:hover{
    color:#6415ff;
}
.btn__menu:hover .button__menu--icon{
    color:#6415ff;
}


.menu__backdrop{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity:0;
    visibility:hidden;
    pointer-events: none;
    background-color: rgba(255,255,255,0.97);
}
.menu--open .menu__backdrop{
    visibility:visible;
    opacity:1;
    pointer-events: auto;
}
.menu--open{
    max-height:100vh;
    overflow-y:hidden;
}
.menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

    

.menu__list{
    padding:24px;
}

.menu__link{
    font-size: 24px; 
}
.menu__link:hover{
    text-decoration: underline;
}

.menu__link--primary{
    background-color: #6415ff;
    color:#fff;
    padding:12px 32px;
    border-radius: 500px;
    font-weight: 700;
}   

.menu__link--primary:hover{
    background-color: rgba(60, 13, 153);
    text-decoration: none;
}   

.btn__menu--close{
    position:absolute;
    right: 20px;
    top:10px;
    padding:8px;
   
}



 /*header*/



.container{
    padding: 96px 32px 96px 32px;

}
.row{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    color: #243e63;


}
header .row{
    display: flex;
    justify-content: space-between;
}


.header__description{
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;

}


h1{
        color: #1a202c;
        line-height: 1.25;
        font:30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

}
.header__description--para{
    text-align:center;
    margin:16px;
    display: flex;
    align-items: center;
}
.header__email{
    width:100%;
    max-width 450px;
    height:68px;
    position:relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


    
.email__input {
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}
.email__btn:hover {
 background-color: rgba(60, 13, 153);
}

.email__btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

button {
    cursor: pointer;
    border: none;
}

.customer__logo{
    max-width: 90%;
    height: auto;
}

.header__customer--title{
    text-align: center;
    font-size: 16px;
    margin:16px
}

.header__description, .header__img--wrapper{
    width:100%;
    max-width:1200px;
}


/*
features*/


.features{
    width:100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin:0 auto;
}

.row__narrow{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}

.row__narrow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__tag{
    font-size: 16px;
    color:#6415ff;
    letter-spacing: 1.6px;
    font-weight:700;
    text-transform:uppercase;
}
.section__title{
    font-weight:900;
    font-size:48px;
    color: rgb(36, 62, 99);
    line-height:1.5;
    margin:16px;
    letter-spacing: 0.025em;
}
.section__para{
    max-width: 550px;
    text-align: center;
}


/*services*/

.feature__row{
    padding:32px 8px;
    display: flex;
    align-items:flex-start;
    width:calc(100% / 3)
 
}

.feature__img--wrapper{
    display: flex;
    padding:20px;
    border: 1px solid #e5e7eb;
    border-radius:500px;
}
.feature__img{
    width:24px;
    height:24px;
    margin-bottom: 96px;
}
.feature__text{
    margin-top: 8px;
    margin-left: 16px;
}
.feature__title{
    line-height:1;
}

.feature__para{
    max-width: 500px;
    margin-top: 16px;
    font-size: 16px;
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/*
section Quality
*/

#quality .container{
    padding: 96px 32px;
    background-color: #f5f5f5;
}


#quality .row{
    display: flex;
    justify-content:space-between; 
    align-items: center;
}

#quality .row{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    color: #f5f5f5;;
  

}
.quality__description{
    margin-right: 32;
    width: 55vw;
  
    
}
.quality__img--wrapper{
    border-radius: 4px;
    border:1px solid rgb (229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    width:50%;
    max-width:560px;

}
.section__tag{
    font-weight:700;
    text-transform:uppercase;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
}
#quality
.section__title, #values  .section__title{
    line-height: 1.25;
    font-size: 32px;
    font-weight:900;
    color: rgb(36, 62, 99);
    margin:16px 0;
    letter-spacing: .025em;
    width:35vw;
}

.section__para{
    font-size:16px;
    font-weight:500;
    color: #7c8ba1;
    line-height:1.625;
    width: 35vw;
    text-align: center;


}

#quality  .email__btn{
     margin-top: 16px;
}
#quality .btn{
    margin-top: 32px;
} 

.btn{
    line-height: 1.5;
    background-color: #6415ff;
    cursor:pointer;
    border:none;
    padding:12px 32px;
    border-radius: 500px;
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    transition: all 300ms ease;
    max-width: 50%;
}
.quality__img{
    z-index:1;
    width:100%;
    height:60vh;
    width:40vw;
  
}


.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: 0;
    display: block;
}

.quality__img--wrapper {
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    
}



.steps__container{
    padding: 96px 32px;
    background-color: #f5f5f5;
}
#steps .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    width:100%;
    max-width: 1200px;
    margin:0 auto;

}
.steps__description, .steps__img--wrapper{
    width:50%;

}
.steps__img--wrapper{
    display: flex;
    position:relative;
}
.steps__img{
    z-index:2;
}
img{width:100%;}

.steps__grid{
    height:5rem;
    width:5rem;
    bottom:-50px;
}
.steps__grid{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    opacity:0.8;
    color:rgb(100, 21, 255);
    fill:currentColor;
}
.steps__description{
    margin: 56px;
    width:50%;

}
.section__tag{
    
    text-transform: uppercase;
    font-size:16px;
    color:#6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}
.section__title{
    font-size:36px;
    font-weight:900;
    color:rgb(36, 62, 99);
    line-height: 1.5;
    margin:16px 0;
}
.step{
    display: flex;
    align-items:flex-start;
    margin-top:32px;
}
.step__number{
    color:#cbd5e0;
    font-size:36px;
    font-weight:600;
    line-height:1;
}
.steps__description{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    max-width: 312px;
}
.step__title{
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height:1;
}
.step__para{
    font-size: 14px;
    color:#718096;
    margin-top:12px;
    font-weight: 500;
    line-height:2;
}

/*
Value section*/

.container__values{
    padding:96px 32px;

}
#values .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row{
    width:100%;
    max-width:1200px;
    margin:0 auto;
}

.values__description{
    width:50%;
    padding:0px 64px 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;

    
}


.section__tag{
    font-size:16px;
    color: #6415ff;
    letter-spacing:1.6px;
    font-weight:700;
    text-transform: uppercase;

}

#value .section__title{
    margin-top:16px;
    margin-bottom:32px;

}
#quality .section__title,
#value .section__title{
    line-height:1.25;
}
.section__title{
    font-size:36px;
    font-weight: 900;
    color:rgb(36, 62, 99);
    margin:16px 0;
    letter-spacing: 0.025em;

}
.section__para{
    font-size:16px;
    font-weight:500;
    color:#7c8ba1;
    line-height:1.625;
    
}
.values__list{
    max-width:20rem;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    
    

}

.value:nth-of-type(1){
    margin-top:32px;
    margin-right:32px;
}
.value{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.value__title{
    display: flex;
    align-items: center;
}
.value:nth-child(1)
.value__img--wrapper{
    background-color: #9ae6b4;
}
.value__img--wrapper{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height:36px;

}
.value__img{
    width: 20px;
    height: 20px;
}

.value__name{
    margin-left:12px;
    font-size:20px;
    font-weight:bold;
    color:#243e63;
    
    
}

.value__para{
    margin-top:16px;
    line-height:1.625;
    color:#718096
}

.value:nth-of-type(2) {
    margin-top:32px;
}

.value:nth-child(2) .value__img--wrapper{
    background-color: #feb2b2;
}
.value{
    margin-right: 2rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

#values .btn{
    margin-top: 48px;
}
#value .btn{
    background-color: #6415ff;
    padding: 12px 32px;
    border:none;
    border-radius: 500px;
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor:pointer;

}


.values__img{
   width:50%;
}

/* 
PRICING
       */

.pricing__container{
    padding:96px 32px;
}
.pricing__row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    width:100%;
    max-width:1200px;
    margin:0 auto;

}
.pricing__tag{
    font-size: 16px;
    color:#6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}
.price__title{
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    color:rgb(36, 62, 99);
    line-height: 1.5;
    margin:16px 0;
    letter-spacing: 0.025em;

}
.pricing__para{
    max-width: 576px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color:#7c8ba1;
    line-height: 1.625;
}
.plans{
    display: flex;
    position: relative;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
}
.plan{
    margin-right: 0px;
    position: relative;
    margin-top: 4rem;
    display: flex;
    width:100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color:rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
     rgba(0, 0, 0, 0) 0px 0px 0px 0px,
     rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
     rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan:nth-child(1) .plan__stripe,
.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%);
 }
.plan__stripe{
   position: absolute;
   left:0px;
   right:0px;
   top:0px;
   height:0.5rem;
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
}
.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}
.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price, 
.plan:nth-child(odd) .plan__target
 {
    color: #1a202c;
}
.plan__name{
    font-size:20px;
}
.plan__name, .plan__price,
.plan__duration{
    font-weight: bold;
    line-height: 1.625;
}
.plan__price{
    font-size: 48px;
    margin:4px 0;
}
.plan__duration{
    font-size: 16px;
    letter-spacing: 0.1em;
    color:#a0aec0;
}
.plan__name,
.plan__price,
.plan__duration{
    font-weight: bold;
    line-height: 1.625;
}
.plan:nth-child(1) .plan__middle,
.plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}
.plan__middle{
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex:1 1 0%;
    flex-direction: column;
    padding: 2rem;
}
.plan__target{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}
.plan__feature{
    margin-top: 20px;
    font-weight: 500;
    color:#718096;
    font-size: 16px;
    line-height: 1.5;
}
.plan__bottom{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.plan__button {
        max-width: none;
}      

.plan:nth-child(1) .plan__stripe, 
.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%,
     rgb(129, 230, 217) 100%);
}
.plan__button {
        max-width: none;
    }
.plan__button {
    border-radius: 0.25rem;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    }
 button{
        cursor: pointer;
        border:none;
    }
    .plan:nth-child(2) 
{     background: linear-gradient(135deg, rgb(76, 81, 191) 0%,
     rgb(102, 126, 234) 100%);
}


.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0)
     0px 0px 0px 0px, 
     rgba(0, 0, 0, 0) 
     0px 0px 0px 0px,
     rgba(0, 0, 0, 0.1)
       0px 1px 3px 0px, 
    rgba(0, 0, 0, 0.06)
        0px 1px 2px 0px;
}

.plan__stripe{
   position: absolute;
   left:0px;
   right:0px;
   top:0px;
   height:0.5rem;
   border-top-left-radius: 0.5rem;
   border-top-right-radius: 0.5rem;
 }
.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}
.plan:nth-child(2) .plan__name, 
.plan:nth-child(2) .plan__price, 
.plan:nth-child(2) .plan__target, 
.plan:nth-child(2) .plan__duration, 
.plan:nth-child(2) .plan__feature {
     color: #f7fafc;
}
.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}
.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    padding: 2rem;
}

.plan__bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.plan:nth-child(2) 
.plan__button{
    color:#6415FF;
    background-color: #f7fafc;
    width:none;
}
.plan__button{
    padding: 0.75rem 2rem;
    font-weight: 700;
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}  

.plan {
    position: relative;
    margin-top: 4rem;
    display: flex;
    width: 100%;
    max-width: 24rem;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: rgb(255 255 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26 32 44);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
     rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
     rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
     rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.plan:nth-child(3) .plan__stripe, 
.plan:nth-child(3) .plan__button
 {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%,
     rgb(254, 178, 178) 100%);
}
.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.plan__top{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.625;
}
.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price, 
.plan:nth-child(odd) .plan__target
 {
    color: #1a202c;
}
.plan__button {
    border-radius: 0.25rem;
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247 250 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.plans__blob {
    z-index: -10;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(-50%) translateY(50%) scaleX(1) scaleY(1);
    height: 256px;
    width: 256px;
    opacity: 0.25;
}
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7SUc.woff2) format('woff2');
    unicode-range: U +0460 -052F, U +1C80 -1C8A, U +20B4, U +2DE0 -2DFF, U + A640-A69F, U + FE2E-FE2F;
}






   






/* small phones, Tablets, Large Smart Phones */
@media(max-width:768){} 



/*small phones, large smart phones */

@media(max-width:550px){

}
   





