
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');






body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border:border-box;
    background-color: #f5f5f5;
    color: #333;
}

.nav{
     width:100%;
     max-width: 1200px;
     margin: 0 auto;
    
}

.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:24px;
    
}

.nav__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__title{
    padding-bottom:2px;
    font-weight:900;
    font-size:24px;
    margin-left:12px;
}
.nav__logo--img{
    height:40px;
    width: 40px;
}


.nav__links{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

         
}
.nav__link{
    text-decoration: none; 
    display:inline-block;
    margin-left: 40px;
    
}
.nav__link:hover{
    text-decoration: underline;
}
.nav__link--primary{
    border:solid 2px;
    border-radius: 6px;
    padding:4px;
    background-color:#6415ff;
    color:#f5f5f5
}
.nav__link--primary:hover{
    text-decoration: none;
   
    transform:translateY(2px);
    transition: all 300ms ease;
}
    
    
