
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');






*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border:border-box;
    background-color: #f5f5f5;
    color: #243E63;
}
.purple{
    color:#6415ff;
}
.landing{
    margin:16px;
    padding:0 32px;
}
.body{
    max-width:100VW;
    overflow-x:hidden;
}
.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:96px 0;
    overflow:hidden;

}
.img{
    width:100%;
}

.row{
    width:100%;
    max-width:1200px;
    margin:0 auto;
 }

.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width:1200px;
   
 }

.nav__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__title{
    padding-bottom:2px;
    font-weight:900;
    font-size:24px;
 }

.nav__logo--img{
    height:40px;
    width: 40px;
    padding: 24px 16px;
}


.nav__links{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    text-decoration: none; 
    display:inline-block;
    margin-left: 40px;
     color:#243E63;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--primary{
    border:solid 2px;
    border-radius: 6px;
    padding:4px;
    background-color:#6415ff;
    color:#f5f5f5
}

.nav__link--primary:hover{
    text-decoration: none;
    transform:translateY(2px);
    transition: all 300ms ease;
}

.row{
    display: flex;
    justify-content: center;
}
@media(max-width:1200px){
    .header__img{
        max-width:512px
    }
}
.header__description{
    display: flex;
    flex-direction: column;
    width:100%;
    max-width:400px;
    
}

h1{
    font-size: 30px;
    text-align:center;
    margin:16px;
}
.header__description--para{
    text-align:center;
    margin:20px;
}

.input__container {
    width: 100%;
    max-width: 180px;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 2px 20px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
    position:relative;
    overflow:hidden;
    align-items: center;
    margin:8px;
    
}


.email__input{
    border:none;
    padding-top: 8px;
    margin-bottom: 24px;
}
.email__btn:hover {
 background-color: rgba(60, 13, 153);
}


.email__btn{
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 130px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    position:absolute;
    margin-top: -12px;
    margin-left: 90px;
    transition: all 300ms ease;
}



button {
    cursor: pointer;
    border: none;
   
}

.header__customer--title{
    text-align: center;
    font-size: 12px;
    margin: 8px;
}
.customer__logo{
    margin: 16px;
}

.header__img{
    height:400px;
    width: 100%;
    max-width:560px;
    display: flex;
    align-items: center;
    padding: 16px;
}

/*
features
*/


.features{
 
}
.row__narrow{
    display: flex;
    flex-direction:column;   
    align-items: center;
}
.section__tag{
    font-size: 16px;
    color:#6415ff;
    letter-spacing: 1.6px;
    font-weight:700;
    text-transform:uppercase;
}
.section__title{
    font-weight:900;
    font-size:48px;
    color: rgb(36, 62, 99);
    line-height:1.5;
    margin:16px;
    letter-spacing: 0.025em;
}
.section__para{
    max-width: 500px;
    text-align: center;
}

/*services*/

.feature__row{
    padding:32px 8px;
    margin: 0 16px;
    display: flex;
    align-items: flex-start;
   
    
}

.feature__img--wrapper{
    display: flex;
    padding:20px;
    border: 1px solid #e5e7eb;
    border-radius:500px;
}
.feature__img{
    width:24px;
    height:24px;
}
.feature__text{
    margin-top: 8px;
    margin-left: 16px;
}
.feature__title{
    line-height:1;
}
.feature__para{
    margin-top: 16px;
    font-size:16px;
    color:rgb(124, 139, 161);
    line-height:2;
    font-weight:500;
}






