
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');






*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #243E63;
}
.purple{
    color:#6415ff;
}

.btn__menu{
    display:none;
    background:transparent;
    border:none;
    text-align: center;
    width:24px;
    height:24px;
    cursor:pointer;
    color:#243E63;
 }
 .menu__backdrop{
    position:absolute;
    background-color: #242424;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display:none

 }

 .i{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:16px;
 }

 .menu--open .menu__backdrop{
    display:flex;

 }  
 .menu__links{
    display:flex;
    flex-direction: column;
    align-items: center;
 }
 .menu__link{
    text-decoration: none; 
    display:block;
    margin:16px;
    font-size:24px;
    color:#f5f5f5;
 }
 .btn__menu--close{
    position:absolute;
    top:32px;
    right:32px;
    color:#f5f5f5;
 }

 /*landing page*/


.landing{
    margin:16px;
    padding:0 32px;
}

.body{
    max-width:100VW;
    overflow-x:hidden;
}
.nav{
    padding-top: 32px;
    display: flex;
}
.container{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:96px 0;
    overflow:hidden;
    }
.img{
    width:100%;
}

.row{
    width:100%;
    max-width:1200px;
    margin:0 auto;
 }

.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width:1200px;
    margin:0 auto;
    padding:20px;
   
 }

.nav__logo{
  display: flex;
  align-items:center;
}

.nav__title{
    padding-bottom:2px;
    font-weight:900;
    font-size:24px;
 }

.nav__logo--img{
    height:40px;
    width: 40px;
   
}


.nav__links{
    margin: 16px;
  
}

.nav__link{
    text-decoration: none; 
    display:inline-block;
    margin-left: 40px;
    color:#243E63;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link--primary{
    border:solid 2px;
    border-radius: 6px;
    padding:4px;
    background-color:#6415ff;
    color:#f5f5f5
}

.nav__link--primary:hover{
    text-decoration: none;
    transform:translateY(2px);
    transition: all 300ms ease;
}

.row{
    display: flex;
    justify-content: center;
}


.header__description{
    display: flex;
    flex-direction: column;
    width:100%;
    max-width:360px;
    padding:8px
    
}

h1{
    font-size: 30px;
    text-align:center;
    margin: 8px;
}
.header__description--para{
    text-align:center;
    margin:16px;
}

.input__container {
    width: 100%;
    max-width: 360px;
    max-height: 64px;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 20px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
    position:relative;
    overflow:hidden;
    align-items: center;
    margin:16px;
}


.email__input{
    border:none;
    margin-bottom:24px;
    
    
}
.email__btn:hover {
 background-color: rgba(60, 13, 153);
}


.email__btn{
    z-index: 2;
    margin: -56px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 104px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    position:absolute;
    margin-left: 210px;
    transition: all 300ms ease;
}

button {
    cursor: pointer;
    border: none;
   
}

.header__customer--title{
    text-align: center;
    font-size: 12px;
    margin:16px
}
.customer__logo{
    margin: 16px;
}

.header__img{
    height:400px;
    width: 100%;
    max-width:560px;
    display: flex;
    align-items: center;
    padding: 8px;
}

/*
features
*/

.features{
    width:100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.row__narrow{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}

.row__narrow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__tag{
    font-size: 16px;
    color:#6415ff;
    letter-spacing: 1.6px;
    font-weight:700;
    text-transform:uppercase;
}
.section__title{
    font-weight:900;
    font-size:48px;
    color: rgb(36, 62, 99);
    line-height:1.5;
    margin:16px;
    letter-spacing: 0.025em;
}
.section__para{
    max-width: 500px;
    text-align: center;
}

/*services*/

.feature__row{
    padding:32px 8px;
    display: flex;
    align-items:flex-start;
    
    width:calc(100% / 3)
 
}

.feature__img--wrapper{
    display: flex;
    padding:20px;
    border: 1px solid #e5e7eb;
    border-radius:500px;
}
.feature__img{
    width:24px;
    height:24px;
    margin-bottom: 96px;
}
.feature__text{
    margin-top: 8px;
    margin-left: 16px;
}
.feature__title{
    line-height:1;
}

.feature__para{
    max-width:none;
    margin-top: 16px;
    font-size: 16px;
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/*
section Quality
*/


#quality .row{
    display: flex;
    justify-content:space-between; 
    align-items: center;
}
.row{
    width:100%;
    max-width:1200px;
    margin:0 auto;
    color: #243e63;
    flex-direction: column;
    align-items: center;
}
.quality__description{
    margin-right: 0px;
    padding-right: 48px;
    max-width: 576px;
    
}
.quality__img--wrapper{
    border-radius: 4px;
    border:1px solid rgb (229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
    width:50%;
    max-width:576px;

}
.section__tag{
    font-weight:700;
    text-transform:uppercase;
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
}
#quality
.section__title, #values  .section__title{
    line-height: 1.25;
    font-size: 36px;
    font-weight:900;
    color: rgb(36, 62, 99);
    margin:16px 0;
    letter-spacing: .025em;
}

.section__para{
    font-size:16px;
    font-weight:500;
    color: #7c8ba1;
    line-height:1.625;
    margin:0;
}

#quality  .email__btn{
     margin-top: 16px;
}

.btn{
    line-height: 1.5;
    background-color: #6415ff;
    cursor:pointer;
    border:none;
    padding:12px 32px;
    border-radius: 500px;
    font-size: 14px;
    color:#fff;
    font-weight: bold;
    transition: all 300ms ease;

}
.quality__img{
    z-index:1;
    width:100%;
}

@media (max-width:550px){
    nav__links:{
        display:none;
    }
}



